* {
    background-color: #FFFFF0;
}

#intro-text {
    color: #121619;
    font-family: "Inter", sans-serif;
}

#intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15vh;
}

#intro-name {
    font-family: "Roboto", sans-serif;
    font-size: 5.9vw;
}

#intro-descriptor{
    font-size: 2vw;
}

#intro-portrait {
    border-radius: 1.5vw;
    margin-top: 3.5vh;
    width: 35vw;
    height: 90vh;
}

.art-preview{
    margin: 1.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 1vw;
    row-gap: 2vh;
    height: 35vh;
}

.img-preview {
    width: 30vw;
    height: 33vh;
    /* This is to maintain image quality even when resized */
    object-fit: cover;
    border-radius: 1.5vw;
}

.img-preview:hover {
    /* Blurs the image and adds grayscale */
    transition: grayscale 1s, blur 100ms;
    filter: blur(5px) grayscale(65%);
}   

.img-txt {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    position: relative;
    text-align: center;
    top: -50%;
    user-select:none;
    /* visibility:hidden */
  }

/* .img-tx:hover {
    visibility: visible;
} */