/* GLOBALS */
:root{
    --navcolor: #121619;
    --bgcolor: #fffff0;
}
* {
    --screen-space: calc(97vw - 64px);
    overscroll-behavior: none;
}

.site {
    background-color: #fffff0;
    padding-left: 5px;
}

/* SCROLL SNAP SETTINGS */
#content {
    scroll-snap-type: y mandatory;
    padding-left: 64px;
}

.snap-point {
    scroll-snap-align: start;
}

/* NAVBAR STYLING */
nav {
    user-select: none;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--navcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    align-content: space-around;
}

.contact-urls {
    border-left: 3px solid var(--navcolor);
    background-color: var(--navcolor);
    z-index: 2;
}

.contact-urls:hover {
    border-left: 3px solid #5998c5;
}

/* INTRO STYLING */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: auto;
    padding: 10px;
    padding-bottom: 40px;
}

.intro-text {
    user-select: none;
    text-align: center;
}

.intro-descriptor, .intro-paragraph {
    font-family: "Inter", sans-serif;
}

.intro-main {
    font-family: "Raleway", "Inter", sans-serif;
    font-size: 5vw;
}

.intro-descriptor {
    font-size: 2.5vw;
}

.intro-img {
    height: 100vh;
    width: 45vw;
    overflow: cover;
}

/* CATEGORIES STYLING */
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.category-text {
    text-align: center;
}

.category-tidbit {
    font-family: "Inter", sans-serif;
}

.category-main {
    font-family: "Raleway", "Inter", sans-serif;
    font-size: 5vw;
}


.category-item {
    transition: filter 250ms ease-in;
    height: 50vh;
    padding: 5px;
    width: calc(90vw/3);
    overflow: hidden;
}

.category-item:hover {
    filter: grayscale(60%) blur(1px) drop-shadow(0px 0px 10px #000000);
}

.category-item-1 {
    transition: filter 250ms ease-in;
    height: 50vh;
    width: calc(90vw/3);
    padding-top: 9px;
    overflow: hidden;
}

.category-item-1:hover {
    filter: grayscale(60%) blur(1px) drop-shadow(0px 0px 10px #000000);
}

.category-images {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

/* MODAL STYLING */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    user-select: none;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    display: none;
}

.piece-title {
    text-align: center;
    /* This is a good way to get it in a consisten spot relative to the image, now yuo
    just have to get the text to be in the middle of the image consistently */
    font-family: "Inter", sans-serif;
    color: #fffff0;
    font-size: 3vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

#piece {
    background: none;
}

.modal-content {
    align-items: center;
    background: none;
}

.scrolling-stop {
    height: 100%;
    overflow: hidden;
}