/* GLOBALS */
:root{
    --navcolor: #121619;
    --bgcolor: #ffffff;
    --intro-txt-bg-color: #121713;
    --category-object-size: 90vw;
}
* {
    user-select: none;
    --screen-space: calc(97vw - 64px);
    overscroll-behavior: none;
}

.site {
    background-color: #ffffff;
}

/* SCROLL SNAP SETTINGS */
#content {
    scroll-snap-type: y mandatory;
    padding-left: 64px;
}

.snap-point {
    scroll-snap-align: start;
}

/* NAVBAR STYLING */

nav {
    user-select: none;
    width: var(--nav-width);
    height: 100%;
    background-color: var(--navcolor);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    align-content: space-around;
}

.contact-urls {
    border-left: 3px solid var(--navcolor);
    background-color: var(--navcolor);
    z-index: 2;
}

.contact-urls:hover {
    border-left: 3px solid #5998c5;
}

/* INTRO STYLING */

.intro {
    background-image: url(../assets/website/Winter_cabin.jpeg);
    background-size: cover;
    background-position-y: -25vh;
    height: 100vh;
    text-shadow: 0 0 10px var(--intro-txt-bg-color), 0 0 20px var(--intro-txt-bg-color), 0 0 30px var(--intro-txt-bg-color), 0 0 40px var(--intro-txt-bg-color), 
    0 0 50px var(--intro-txt-bg-color), 0 0 60px var(--intro-txt-bg-color), 0 0 70px var(--intro-txt-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: auto;
}

#glow {
    color:#ffffff;
}

.intro-text {
    padding: 10px;
    user-select: none;
    text-align: center;
}

.intro-paragraph {
    font-family: "Inter", sans-serif;
}

.intro-main {
    font-family: "Raleway", "Inter", sans-serif;
    font-size: 5vw;
}

.intro-divider {
    font-family: "Inter", sans-serif;
    font-size: 2.5vw;
    text-align: center;
    color: #ffffff;
    background-color: #5998c5;
    padding: 2.5%;

}

#spacer-top {
    padding-top: 3vh;
}

/* CATEGORIES STYLING */

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1.5vh;
}

.category-text {
    text-align: center;
}

.category-tidbit {
    font-family: "Inter", sans-serif;
}

.category-main {
    font-family: "Raleway", "Inter", sans-serif;
    font-size: 5vw;
}

.category-item {
    transition: filter 250ms ease-in;
    height: 50vh;
    padding: 4px;
    width: calc(var(--category-object-size)/3);
    overflow: hidden;
}

.category-item:hover {
    filter: grayscale(60%) blur(1px) drop-shadow(0px 0px 10px #000000);
}

.category-item-1 {
    transition: filter 250ms ease-in;
    height: 50vh;
    width: calc(var(--category-object-size)/3);
    padding-top: 9px;
    overflow: hidden;
}

.category-item-1:hover {
    filter: grayscale(60%) blur(1px) drop-shadow(0px 0px 10px #000000);
}

.category-images {
    display: flex;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

/* LINE BREAK STYLING */

.line-break {
    width: 50vw;
    border: none;
    background-color: #5998c5;
    padding-bottom: 0.4vh;
    margin-bottom: 3vh;
}

/* MODAL STYLING */
.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    user-select: none;
    overflow: auto;
    background-color: rgba(0,0,0,0.85);
    display: none;
}

.piece-title {
    text-align: center;
    /* This is a good way to get it in a consisten spot relative to the image, now yuo
    just have to get the text to be in the middle of the image consistently */
    font-family: "Inter", sans-serif;
    color: #fffff0;
    font-size: 3vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

#piece {
    background: none;
}

.modal-content {
    align-items: center;
    background: none;
}

.scrolling-stop {
    height: 100%;
    overflow: hidden;
}