* {
    background-color: #FFFFF0;
}

#intro-text {
    color: #121619;
}

#intro {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}

#intro-name {
    font-family: "Roboto", sans-serif;
    font-size: 75px;
}

#intro-text {
    font-family: "Inter", sans-serif;
}

#intro-portrait {
    border-radius: 15px;
    width: 400px;
    height: 500px;
}

#art-preview{
    position: absolute;
    left: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 5px;
    height: 400px;
}

.img-preview {
    width: 500px;
    height: 190px;
    /* This is to maintain image quality even when resized */
    object-fit: cover;
    border-radius: 10px;
}
