* {
    user-select: none;
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: none;
    scroll-behavior: smooth;
}

#intro-text {
    color: #121619;
    font-family: "Inter", sans-serif;
    display: block;
}

#intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15vh;
}

#intro-name {
    font-family: "Roboto", sans-serif;
    font-size: 6vw;
}

#intro-descriptor{
    font-size: 2.75vw;
}

#intro-portrait {
    border-radius: 1.5vw;
    margin-top: 3.5vh;
    width: 35vw;
    height: 90vh;
    object-fit: cover;
}

/* When screen size less than 700px, re-organize the images and the text content */
@media only screen and (max-width: 700px) {
    #intro-portrait {
        width: 100%;
        display: block;
    }

    #intro {
        flex-direction: column-reverse;
    }
}

#social {
    padding-top: 0.5vh;
    font-size: 1.5vw;
}

#line-break {
    border-width: 100vw;
    border-color: black;
}

.art-preview {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5vh;
    justify-content: space-around;
}

.img-preview {
    width: 32vw;
    height: 33vh;
    object-fit: cover;
    border-radius: 1vw;
}

.img-preview:hover {
    /* Blurs the image and adds grayscale */
    transition: grayscale 1s, blur 100ms, drop-shadow 1s;
    filter: blur(1px) grayscale(65%) drop-shadow(0.25em 0.4em 0.75em #3d3d3d);
}   

.img-txt {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    height: 0px;
    font-size: 1.75vw;
    color: white;
    background-color: transparent;
    position: relative;
    pointer-events: none;
    text-align: center;
    top: -50%;
}

.section {
    font-family: "Inter", sans-serif;
    display: inline-block;
    padding: 0.75vw;
}

.landscape {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.5vh;
    justify-content: space-around;
    width: 100vw;
}

.img-piece-landscape {
    width: 24vw;
    height: 30vh;
    object-fit: cover;
}

.img-piece-landscape-collection{
    left: 1vw;
    z-index: 2;
}