* {
    user-select: none;
    background-color: #FFFFFF;
}

#intro-text {
    color: #121619;
    font-family: "Inter", sans-serif;
    display: block;
}

#intro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15vh;
}

#intro-name {
    font-family: "Roboto", sans-serif;
    font-size: 6vw;
}

#intro-descriptor{
    font-size: 2.75vw;
}

#intro-portrait {
    border-radius: 1.5vw;
    margin-top: 3.5vh;
    width: 35vw;
    height: 90vh;
    object-fit: cover;
}

/* When screen size less than 700px, re-organize the images and the text content */
@media only screen and (max-width: 700px) {
    #intro-portrait {
        width: 100%;
        display: block;
    }

    #intro {
        flex-direction: column-reverse;
    }
}

#social {
    font-size: 1.5vw;
}

.art-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-preview {
    width: 30vw;
    height: 33vh;
    /* This is to maintain image quality even when resized */
    object-fit: cover;
    border-radius: 1.5vw;
}

.img-preview:hover {
    /* Blurs the image and adds grayscale */
    transition: grayscale 1s, blur 100ms;
    filter: blur(1px) grayscale(65%) drop-shadow(0.25em 0.4em 0.75em #3d3d3d);
}   

.img-txt {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    height: 0px;
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    position: relative;
    pointer-events: none;
    text-align: center;
    top: -50%;
    user-select: none;
    overflow: visible;
    padding: none;
    border: none;
    margin: none;
    /* This is part of the issue with the grid, something here is making it have the weird spacing between rows*/
}

.landscape {
    user-select: none;
    /* There's nothing here, for now . . . 
    WTR FSR1
    WTR FSR4
    WTR FSR7
    WTR FSR12

      */
      
}

.section {
    display: inline-block;
    /* Currently, this is showing up in the grid, so it needs to be disabled untill the grid is fixed */
    border-radius: 1px solid black;
}

.img-piece {
    width: 100px;
    height: 100px;
    object-fit: cover;
}