* {
    background-color: black;
}

#intro-text {
    color: white;
}

#intro {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

#intro-name {
    font-family: "Roboto", sans-serif;
    font-size: 75px;
}

#intro-text {
    font-family: "Inter", sans-serif;
}

#intro-portrait {
    border-radius: 15px;
    width: 400px;
    height: 500px;
}

#art-preview {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.img-preview {
    width: 33%vw;
    height: 300px;
}